<h1>Editing books author</h1>

<%= render "form", books_author: @books_author %>

<br>

<div>
  <%= link_to "Show this books author", @books_author %> |
  <%= link_to "Back to books authors", books_authors_path %>
</div>
